.form__cart{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
    margin: auto;
    /* align-self: center; */
    width: 20rem;
}

.btn__volver{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    min-width: 8rem;
    height: 3rem;

    color: #fffffe;
    /* font-weight: 500;
    background-color: #ff8906;
    -webkit-box-shadow: 7px 9px 24px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 9px 24px -3px rgba(0,0,0,0.46);
    box-shadow: #965e1f 0px 3px 12px -2px, #ff8b062c 0px 3px 7px -3px; */


    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form__text--title{
    text-align: center;
    display: block;
    color: aliceblue;
    font-size: x-large;
}

.form__text{
    font-size: medium;
    padding: 2.5px;
    border-radius: 3px;
}