
.cart__products{
    margin: 0 auto;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.cart__title{
    display: flex;
    justify-content: center;
}

.cart__title--h2{
    color: aliceblue;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: x-large;
}

.cart__total{
    display: flex;
    justify-content: center;
}


.cart__total--p{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    display: inline-block;
    color: aliceblue;
}

.cart__total--p>span{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    display: block;
    color: #e53170;
}
