.container__cart{
    height: 100%;
    margin: 3rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem
}


.cart__products{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.cart__title{
    display: flex;
    justify-content: center;
}

.cart__title--h2{
    display: block;
    color: aliceblue;
    font-size: x-large;
}

.cart__total{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.cart__total--p{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue;
}

.cart__total--p>span{
    font-size: 1.7rem;
    font-weight: 700;
    color: #e53170;
}

/* .container__form{
    margin: auto 0;
} */

.form__text--title{
    margin-bottom: 2.5rem;
}