.detail__box{
    margin: 2.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.detail__description{
    align-items: flex-start;
    flex-grow: 1;
    margin-left: 8rem;
    border-radius: 1rem;
}

.detail__img{
    width: 30rem;
    border-radius: 1rem;
    box-shadow: #803750 0px 6px 12px -2px, #ff8b062c 0px 3px 7px -3px;
}

.detail__description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.description__main{
    color: #a7a9be;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.detail__title{
    display: block;
    font-weight: bold;
    font-size: xx-large;
    color: #fffffe;
    display: flex;
    justify-content: space-between;
}

.detail__body>h3{
    letter-spacing: 1px;
    padding: 2px;
    text-decoration: underline;
    color: #fffffe;
}

.detail__body>p{
    margin-left: 2rem;
}

.detail__price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    font-size: xx-large;
    color: #fffffe;
    margin-top: 2rem;
    align-self: center;
}

.text__offer--detail{
    padding: 0 2rem;
    align-self: center;
    color: #a7a9be;
    font-size: x-large;
    text-decoration: line-through;
    border-left: 1px solid #f25f4c;
}

.text__offer_price{
    margin: 0 2rem;
}

.detail__category{
    font-size: 1rem;
    place-self: end;
    margin-left: 5rem;
    place-items: center;
}


.btn__cart--detail{
    padding: 0.1rem 2rem;
    font-weight: bold;

    text-align: center;
    color: #fffffe;
    font-weight: 500;
    background-color: #ff8906;
    -webkit-box-shadow: 7px 9px 24px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 9px 24px -3px rgba(0,0,0,0.46);
    box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.46);


    border-radius: 7px;
    cursor: pointer;
    box-shadow: #965e1f 0px 3px 12px -2px, #ff8b062c 0px 3px 7px -3px;
}

.btn__cart--detail:hover{
    scale: 1.03;
}

.btn__cart--offer:hover{
    background-color: rgb(172, 39, 39);
}

.btn__cart--nooffer:hover{
    background-color: #e48111;
}

.btn__detail{
    padding: 0.8rem 1rem;

    color: #fffffe;
    font-weight: 500;
    background-color: #ff8906;
    -webkit-box-shadow: 7px 9px 24px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 9px 24px -3px rgba(0,0,0,0.46);
    box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.46);

    border-radius: 7px;
}

.detail__cart{
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 7rem;
}

.detail__cart>a{
    align-self: center;
    display: inline-block;
}

.detail__contador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-self: flex-start;
    margin: 0 auto;


    background-color: #ff8906;
    width: 18rem;
    height: 3rem;
    border-radius: 7px;
    box-shadow: #965e1f 0px 3px 12px -2px, #ff8b062c 0px 3px 7px -3px;
}


.counter__h{
    font-weight: bold;
    font-size: 1rem;
    color: #fffffe;
    align-self: center ;
}

.counter__b{
    font-weight: bold;
    font-size: x-large;
    color: #fffffe;
    
    border: 1px #fffffe solid;
    width: 50px;
    border-radius: 5px;
}

.counter__b:hover{
    background-color: #e48111;
    scale: 1.02;
}

