
.card{
    border-radius: 20px;
    height: 26rem;
}

.card__image{
    border-radius: 50px 10px 50px 10px;
}

.btn_text{
    -webkit-box-shadow: 7px 9px 24px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 9px 24px -3px rgba(0,0,0,0.46);
    box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.46);
}