#root{
    height: 100%;

  --shadow-color: 236deg 79% 15%;
  --shadow-elevation-low:
    0.2px 0.3px 0.5px hsl(var(--shadow-color) / 0.16),
    0.7px 1.1px 1.8px -0.6px hsl(var(--shadow-color) / 0.62);
  --shadow-elevation-medium:
    0.2px 0.3px 0.5px hsl(var(--shadow-color) / 0.22),
    3.4px 5.5px 9.1px -0.6px hsl(var(--shadow-color) / 0.86);
  --shadow-elevation-high:
    0.2px 0.3px 0.5px hsl(var(--shadow-color) / 0.28),
    5.4px 8.8px 14.5px -0.3px hsl(var(--shadow-color) / 0.81),
    18.5px 30px 49.4px -0.6px hsl(var(--shadow-color) / 1);
}