.detail__contador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-self: flex-start;
    margin: 0 auto;


    background-color: #ff8906;
    width: 15rem;
    height: 3rem;
    border-radius: 7px;
    box-shadow: var(--shadow-elevation-medium);
}

.detail__count{
    margin: 0 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 7rem;
}

.cart__buttons{
    margin: 0 2rem;
}
.counter__h{
    font-weight: bold;
    font-size: 1rem;
    color: #fffffe;
    align-self: center ;
}

.counter__b{
    font-weight: bold;
    font-size: x-large;
    color: #fffffe;
    
    border: 1px #fffffe solid;
    width: 50px;
    border-radius: 5px;
}

.counter__b:hover{
    background-color: #e48111;
    scale: 1.02;
}

.detail__itemcount{
    display: flex;
}

.cart__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.btn__cart--count{
    display: inline-block;
    min-width: 8rem;
    height: 3rem;

    color: #fffffe;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn__checkout{
    min-width: 15rem;
}


@media (max-width: 768px) {
    
    .detail__itemcount{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    
    .detail__count{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }

    .detail__itemcount{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .detail__count{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .cart__buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-top: 1rem;
        gap: 1rem;
    }

    .btn__cart{
        width: 100%;
    }

    .btn__cart--count{
        width: 100%;
    }
}