.nav__link{
    margin: auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .nav__cart{
        margin-left: 0.5em;

        color: $secondary;
        font-size: 1.5em;
        cursor: pointer;
        align-items: baseline;
    }
}


.counter__products{
    color: rgb(241 245 249);
    display: inline-block;
    position: relative;
    right: 27px;
    top: 8px;

    h3{
        text-align: center;
        font-size: 0.8rem;
        font-weight: 400;
        display: inline-block;
        background-color: rgb(136 19 55);
        line-height: 18px;
        width: 18px;
        border-radius: 50%;
    }
    
}



