.content__error{
    height: 100vh;
}

.content{

    .content__h2{
        text-align: center;
        font-size: clamp(1.5em, 3vw, 2.5em);
        color: $tertiary;
    }

    .content__p{
        text-align: justify;
        font-size: clamp(1em, 2vw, 2em);
        color: $secondary;
    }
}

